.clearfix {
	overflow: auto;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

input:-ms-input-placeholder {
	color: #8a8a8a;
}

input::placeholder {
	color: #8a8a8a;
}

input::-webkit-input-placeholder {
	color: #8a8a8a;
}

input::-moz-placeholder {
	color: #8a8a8a;
}

.paginDiv{
	width: 100%;
	height: 30px;
	margin-top: 40px;
	text-align: center;
}

.paginDiv a {
	text-decoration: none;
}

.paging {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	margin: 0 2px;
	height: 28px;
	border: 1px solid #d8d9db;
	line-height: 28px;
	font-size: 15px;
	background: #f7f7f7;
	color: #666;
}

.paging:hover {
	border: 1px solid #4f98e3;
	color: white;
	background: #4f98e3;
	cursor: pointer;
	transition: all .1s ease-out;
}


/* popUp */

.popUp {
	display: none;
	position: absolute;
	width: 560px;
	text-align: left;
	background-color: #fff;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -300px;
	z-index: 1000;
	overflow: hidden;
}

.popUp .pop_tit {
	background-color: #007bff;
	overflow: hidden;
	padding: 20px;
}

.popUp .pop_tit span {
	color: #fff;
	float: left;
	font-size: 16px;
}

.popUp .pop_tit .pop_close {
	color: #fff;
	float: right;
	cursor: pointer;
}

.popUp .pop_tit .pop_close:hover {
	color: #0069d9;
}

#pop1 .pop_text {
	width: 100%;
	height: 564px;
	overflow: auto;
	padding: 20px;
	font-size: 14px;
}

#pop2 .pop_text {
	width: 102%;
	height: 100px;
	padding: 20px;
	font-size: 14px;
}

#pop2 {
	margin-top: -70px;
}

.pop_bk {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 900;
	background-color: rgba(0,0,0,0.5);
}