body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #d2d2d2;
}

body {
	position: relative;
}

/* header */
#kadinet_header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	min-width: 100%;
}

#kadinet_header .header_inner {
	height: 75px;
	margin: 0 auto;
	width: 1100px;
	color: white;
	padding-top: 10px;
}

#kadinet_header .header_top {
	text-align: right;
}

#kadinet_header .header_top a {
	display: inline-block;
	font-size: 14px;
	line-height: 1.1;
	margin-left: 20px;
}

#kadinet_header .header_top a:hover {
	color: #4f98e3;
}

#kadinet_header .header_bottom .logo1 {
	float: left;
	margin-right: 40px;
}

#kadinet_header .header_bottom .logo2 {
	float: left;
	margin-right: 40px;
	display: none;
}

#kadinet_header .header_bottom .gnb {
	float: left;
}

.gnb .menu .mm {
	display: inline-block;
	font-size: 17px;
	font-weight: bold;
}

.gnb .menu .mm>a {
	display: block;
	margin: 15px 20px 0px 20px;
	padding: 0px 10px 11px 10px;
}

.hover {
	color: #4f98e3 !important;
	border-bottom: 3px solid #4f98e3;
}

.gnb .menu .mm .drop_menu {
	visibility: hidden;
	position: absolute;
	top: 75px;
	right: 0;
	left: 0;
	padding: 23px 0;
	border: 1px solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	opacity: 0;
	height: 70px;
	width: 100%;
	color: #313338;
}

.hover+.drop_menu {
	visibility: visible !important;
	background: white;
	opacity: 1.0 !important;
	transition: all .3s ease-out;
}

.drop_menu li {
	display: inline-block;
	font-size: 15px;
	font-weight: normal;
	margin-right: 40px;
}

.drop_menu li a:hover {
	color: #8a8a8a;
}

.is_hover .header_inner, .is_fixed .header_inner {
	/* 	color: #4f98e3 !important; */
	color: #313338 !important;
}

.is_hover .gnb .menu .mm>a, .is_fixed .gnb .menu .mm>a {
	color: #000;
}

.is_hover .logo1, .is_fixed .logo1 {
	display: none;
}

.is_hover .logo2, .is_fixed .logo2 {
	display: block !important;
}

.is_hover, .is_fixed {
	transition: all .5s ease-out;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
	background: #fff;
}

.is_fixed {
	position: fixed !important;
}

/* section */
.wrap {
	background-image: url("/img/main/index/main_back.jpg");
}

.wrap .main {
	box-sizing: content-box;
	padding: 155px 0 80px 0;
	width: 1100px;
	height: 550px;
	margin: 0 auto;
}

.wrap .main .contents {
	border: 1px solid white;
	width: 100%;
	height: 100%;
}

/* footer */
#kadinet_footer {
	width: 100%;
	text-align: left;
}

#kadinet_footer .footer_inner {
	margin: 0 auto;
	padding: 20px 0;
	width: 1100px;
	font-size: 12px;
}

#kadinet_footer .footer_inner .logo2 {
	float: left;
	margin-right: 40px;
}

#kadinet_footer .footer_inner .footer_menu {
	margin-bottom: 10px;
}

#kadinet_footer .footer_inner .footer_menu li {
	display: inline-block;
}

#kadinet_footer .footer_inner .footer_menu p {
	margin: 0 12px 0 12px;
}

#kadinet_footer p {
	display: inline-block;
}

#kadinet_footer .info #tit {
	margin-right: 12px;
}

#kadinet_footer .info #addr {
	margin-right: 12px;
}
#kadinet_footer .info .tel {
	margin-right: 12px;
}

#kadinet_footer .info .sub{
	margin-bottom: 4px;
}

#kadinet_footer {
	color: #313338;
}

#kadinet_footer a:hover {
	color: #8a8a8a;
}

@media ( max-width :1200px) {
	.wrap, #kadinet_header, #kadinet_footer {
		width: 1200px;
	}
}