/*
	메인컬러 : #4f98e3
	폰트컬러 : #313338
	폰트 호버컬러 : #8a8a8a
*/
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #d2d2d2;
}

body {
	position: relative;
}

/* header */
#kadinet_header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	min-width: 100%;
}

#kadinet_header .header_inner {
	height: 75px;
	margin: 0 auto;
	width: 1100px;
	color: white;
	padding-top: 10px;
}

#kadinet_header .header_top {
	text-align: right;
}

#kadinet_header .header_top a {
	display: inline-block;
	font-size: 14px;
	line-height: 1.1;
	margin-left: 20px;
}

#kadinet_header .header_top a:hover {
	color: #4f98e3;
}

#kadinet_header .header_bottom .logo1 {
	float: left;
	margin-right: 40px;
}

#kadinet_header .header_bottom .logo2 {
	float: left;
	margin-right: 40px;
	display: none;
}

#kadinet_header .header_bottom .gnb {
	float: left;
}

.gnb .menu .mm {
	display: inline-block;
	font-size: 17px;
	font-weight: bold;
}

.gnb .menu .mm>a {
	display: block;
	margin: 15px 20px 0px 20px;
	padding: 0px 10px 11px 10px;
}

.hover {
	color: #4f98e3 !important;
	border-bottom: 3px solid #4f98e3;
}

.gnb .menu .mm .drop_menu {
	visibility: hidden;
	position: absolute;
	top: 75px;
	right: 0;
	left: 0;
	padding: 23px 0;
	border: 1px solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	opacity: 0;
	height: 70px;
	width: 100%;
	color: #313338;
}

.hover+.drop_menu {
	visibility: visible !important;
	background: white;
	opacity: 1.0 !important;
	transition: all .3s ease-out;
}

.drop_menu li {
	display: inline-block;
	font-size: 15px;
	font-weight: normal;
	margin-right: 40px;
}

.drop_menu li a:hover {
	color: #8a8a8a;
}

.is_hover .header_inner, .is_fixed .header_inner {
	/* 	color: #4f98e3 !important; */
	color: #313338 !important;
}

.is_hover .gnb .menu .mm>a, .is_fixed .gnb .menu .mm>a {
	color: #000;
}

.is_hover .logo1, .is_fixed .logo1 {
	display: none;
}

.is_hover .logo2, .is_fixed .logo2 {
	display: block !important;
}

.is_hover, .is_fixed {
	transition: all .5s ease-out;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
	background: #fff;
}

.is_fixed {
	position: fixed !important;
}

/* section */
.wrap {
	
}

.wrapBGI {
	background-image: url("/img/main/index/main_back.jpg");
}

.wrap .mainIndex {
	box-sizing: content-box;
	padding: 155px 0 80px 0;
	width: 1100px;
	height: 550px;
	margin: 0 auto;
}

.wrap .main {
	position: relative;
	box-sizing: content-box;
	width: 1100px;
	margin: 0 auto;
}

.wrap .mainIndex .contents {
	border: 1px solid white;
	width: 100%;
	height: 100%;
}

.wrap .main .contents {
	width: 100%;
}

/* index article */
.notice {
	width: 40%;
	height: 100%;
	background: pink;
	float: left;
}

.mbr_notice {
	width: 30%;
	height: 80%;
	background: blue;
	float: left;
}

.quick {
	width: 30%;
	height: 80%;
	background: green;
	float: left;
}

.mbr_list {
	width: 60%;
	height: 20%;
	background: red;
	float: left;
}

/* login */
.wrap .login_menu_img {
	box-sizing: content-box;
	text-align: center;
	width: 100%;
	height: 200px;
	background: url("/img/main/index/login_menu_img.jpg") 0 75px no-repeat;
	background-size: 100% 100%;
	padding-top: 75px;
}

.wrap .login_menu_img>b {
	display: inline-block;
	font-size: 40px;
	line-height: 200px;
	color: white;
}

.contents_box_bottom .login_bx {
	border: 1px solid #d2d2d2;
	width: 100%;
	padding: 50px 0 50px 0;
}

.contents_box_bottom .form_wrap {
	width: 40%;
	margin: 0 auto;
}

.login_bx .func_area {
	text-align: left;
}

.login_bx .inp {
	border: 1px solid #d2d2d2;
	padding: 13px;
	width: 100%;
	margin-bottom: 10px;
	font-size: 14px;
}

.login_bx .inp:focus, .login_bx .inp:hover {
	border: 1px solid #4f98e3;
	transition: all .3s ease-out;
}

.login_bx .btn_area {
	margin-top: 20px;
}

.login_bx .login_btn {
	width: 100%;
	height: 55px;
	padding: 0;
	border: 1px solid #4f98e3;
	background-color: #4f98e3;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	line-height: 55px;
	cursor: pointer;
}

.login_bx .signup_area {
	display: block;
	height: 24px;
	margin-top: 30px;
	line-height: 24px;
	font-size: 0;
	text-align: center;
}

.login_bx .signup_text {
	font-size: 14px;
	color: #8a8a8a;
}

.login_bx .signup_btn {
	margin-left: 8px;
	font-size: 14px;
	color: #4f98e3;
}

/* join */
.contents_box_bottom .joinform_wrap {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.contents_box_bottom .join_bx {
	border: 1px solid #d2d2d2;
	width: 100%;
	padding: 50px 0 50px 0;
}

.join_bx table {
	width: 100%;
	text-align: left;
	border-left: none;
	border-right: none;
}

.join_bx table th {
	padding: 10px;
	font-size: 14px;
	font-weight: normal;
	border-left: none;
}

.join_bx table td {
	padding: 10px;
	font-size: 14px;
	border-right: none;
}

.join_bx table tr {
	border-left: none;
	border-right: none;
}

.join_bx table td .inp_radio {
	-webkit-appearance: normal !important;
}

.join_bx table td select {
	border: 1px solid #d2d2d2;
	font-size: 14px;
}

.join_bx .join_btn {
	width: 40%;
	height: 55px;
	padding: 0;
	border: 1px solid #4f98e3;
	background-color: #4f98e3;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	line-height: 55px;
	cursor: pointer;
	margin: 20px auto 0 auto;
}

/* subNav */
.subNav {
	position: absolute;
	top: 0;
	left: 0;
	width: 225px;
}

.subNav h1 {
	font-size: 20px;
	background-color: #4f98e3;
	padding: 20px;
	color: #fff;
	text-align: center;
	font-weight: normal;
}

.subNav .subNav_list {
	display: block;
}

.subNav .subNav_list li {
	width: 100%;
	height: 50px;
	text-align: center;
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
}

.subNav .subNav_list li:hover>a {
	color: #8a8a8a;
}

.subNav .subNav_list li>a {
	display: block;
	font-size: 17px;
	color: #313338;
	line-height: 50px;
	text-align: left;
	text-indent: 20px;
}

.selected>a {
	color: #1b81c9 !important;
	font-weight: bold;
}

/* contents_box */
.contents_box {
	max-width: 100%;
	margin-left: 275px;
}

.contents_box .contents_box_top {
	border-bottom: 1px solid black;
}

.contents_box .contents_box_top .location {
	font-size: 28px;
	height: 80px;
	line-height: 80px;
}

.contents_box_bottom {
	width: 100%;
	padding: 70px 0 70px 0;
}

/* footer */
#kadinet_footer {
	border-top: 1px solid #d2d2d2;
	width: 100%;
	text-align: left;
}

#kadinet_footer .footer_inner {
	margin: 0 auto;
	padding: 20px 0;
	width: 1100px;
	font-size: 12px;
}

#kadinet_footer .footer_inner .logo2 {
	float: left;
	margin-right: 40px;
}

#kadinet_footer .footer_inner .footer_menu {
	margin-bottom: 10px;
}

#kadinet_footer .footer_inner .footer_menu li {
	display: inline-block;
}

#kadinet_footer .footer_inner .footer_menu p {
	margin: 0 12px 0 12px;
}

#kadinet_footer p {
	display: inline-block;
}

#kadinet_footer .info #tit {
	margin-right: 12px;
}

#kadinet_footer .info #addr {
	margin-right: 12px;
}

#kadinet_footer .info .tel {
	margin-right: 12px;
}

#kadinet_footer .info .sub {
	margin-bottom: 4px;
}

#kadinet_footer {
	color: #313338;
}

#kadinet_footer a:hover {
	color: #8a8a8a;
}

@media ( max-width :1200px) {
	.wrap, #kadinet_header, #kadinet_footer {
		width: 1200px;
	}
}