@charset "utf-8";


@font-face {
  font-family: 'OneLatin';
  font-style: normal;
  font-weight: normal;
  src: url(https://image.samsungsds.com/global/common/css_ko/fonts/SamsungOneLatinWeb-400.eot?queryString=20181016040322);
  src: local('※'), url(https://image.samsungsds.com/global/common/css_ko/fonts/SamsungOneLatinWeb-400.eot?queryString=20181016040322?#iefix) format('embedded-opentype'),
       url(https://image.samsungsds.com/global/common/css_ko/fonts/SamsungOneLatinWeb-400.woff?queryString=20181016040322) format('woff');
}

@font-face {
  font-family: 'OneLatin';
  font-style: normal;
  font-weight: bold;
  src: url(https://image.samsungsds.com/global/common/css_ko/fonts/SamsungOneLatinWeb-700.eot?queryString=20181016040322);
  src: local('※'), url(https://image.samsungsds.com/global/common/css_ko/fonts/SamsungOneLatinWeb-700.eot?queryString=20181016040322?#iefix) format('embedded-opentype'),
       url(https://image.samsungsds.com/global/common/css_ko/fonts/SamsungOneLatinWeb-700.woff?queryString=20181016040322) format('woff');
}

@font-face {
  font-family: 'SharpSansNo1';
  font-style: normal;
  font-weight: normal;
  src: url(https://image.samsungsds.com/global/common/css_ko/fonts/SharpSansNo1-Medium.eot?queryString=20181016040322);
  src: local('※'), url(https://image.samsungsds.com/global/common/css_ko/fonts/SharpSansNo1-Medium.eot?queryString=20181016040322?#iefix) format('embedded-opentype'),
       url(https://image.samsungsds.com/global/common/css_ko/fonts/SharpSansNo1-Medium.woff?queryString=20181016040322) format('woff');
}

@font-face {
  font-family: 'SharpSansNo1';
  font-style: normal;
  font-weight: bold;
  src: url(https://image.samsungsds.com/global/common/css_ko/fonts/SharpSansNo1-Bold.eot?queryString=20181016040322);
  src: local('※'), url(https://image.samsungsds.com/global/common/css_ko/fonts/SharpSansNo1-Bold.eot?queryString=20181016040322?#iefix) format('embedded-opentype'),
       url(https://image.samsungsds.com/global/common/css_ko/fonts/SharpSansNo1-Bold.woff?queryString=20181016040322) format('woff');
}

@font-face {
  font-family: 'nanumsquare'; 
  font-weight:normal;
  src: url(https://image.samsungsds.com/global/common/css_ko/fonts/nanumsquare.eot?queryString=20181016040322);
  src: local('※'), url(https://image.samsungsds.com/global/common/css_ko/fonts/nanumsquarer.eot?queryString=20181016040322?#iefix) format('embedded-opentype'),
       url(https://image.samsungsds.com/global/common/css_ko/fonts/nanumsquarer.woff?queryString=20181016040322) format('woff'),
	   url(https://image.samsungsds.com/global/common/css_ko/fonts/nanumsquarer.woff2?queryString=20181016040322) format('woff');
}

@font-face {
  font-family: 'nanumsquare';
  font-weight:bold;
  src: url(https://image.samsungsds.com/global/common/css_ko/fonts/NanumSquareEB.eot?queryString=20181016040322);
  src: local('※'), url(https://image.samsungsds.com/global/common/css_ko/fonts/NanumSquareEB.eot?queryString=20181016040322?#iefix) format('embedded-opentype'),
       url(https://image.samsungsds.com/global/common/css_ko/fonts/NanumSquareEB.woff?queryString=20181016040322) format('woff');
}

@font-face {
  font-family: 'nanumsquarexb';
  font-weight:bold;
  src: url(https://image.samsungsds.com/global/common/css_ko/fonts/NanumSquareEB.eot?queryString=20181016040322);
  src: local('※'), url(https://image.samsungsds.com/global/common/css_ko/fonts/NanumSquareEB.eot?queryString=20181016040322?#iefix) format('embedded-opentype'),
       url(https://image.samsungsds.com/global/common/css_ko/fonts/NanumSquareEB.woff?queryString=20181016040322) format('woff');
}

/*
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight:normal;
  src: url(https://image.samsungsds.com/global/common/css_ko/fonts/SpoqaHanSans-Regular.eot?queryString=20181016040322);
  src: local('※'), url(https://image.samsungsds.com/global/common/css_ko/fonts/SpoqaHanSans-Regular.eot?queryString=20181016040322?#iefix) format('embedded-opentype'),
       url(https://image.samsungsds.com/global/common/css_ko/fonts/SpoqaHanSans-Regular.woff?queryString=20181016040322) format('woff'),
	   url(https://image.samsungsds.com/global/common/css_ko/fonts/SpoqaHanSans-Regular.woff2?queryString=20181016040322) format('woff');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight:bold;
  src: url(https://image.samsungsds.com/global/common/css_ko/fonts/SpoqaHanSans-Bold.eot?queryString=20181016040322);
  src: local('※'), url(https://image.samsungsds.com/global/common/css_ko/fonts/SpoqaHanSans-Bold.eot?queryString=20181016040322?#iefix) format('embedded-opentype'),
       url(https://image.samsungsds.com/global/common/css_ko/fonts/SpoqaHanSans-Bold.woff?queryString=20181016040322) format('woff'),
	   url(https://image.samsungsds.com/global/common/css_ko/fonts/SpoqaHanSans-Bold.woff2?queryString=20181016040322) format('woff');
}
*/

/* @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
 
 

/* ***** reset ***** */
html {font-size:10px; height:100%; -webkit-text-size-adjust:none;  font-family:'OneLatin', 'nanumsquare', "Apple SD Gothic Neo", sans-serif, Arial; font-weight: normal; background:#dedede ;}
body {font-size:1.2rem; width:100%; height:100%; margin:0; word-break:keep-all;}
* {margin:0; padding:0; border:none;  -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; -webkit-tap-highlight-color:rgba(0,0,0,0);}

*:before, *:after {-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}

h1, h2, h3, h4, h5, h6 {font-size:inherit; color:inherit;}
fieldset, img {border:none; vertical-align:middle;}
dl, ul, ol, menu, li {list-style:none;}
iframe {overflow-x:hidden; overflow-y:hidden; margin:0; padding:0; border:none;}
blockquote, q {quotes:none}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
input, select, textarea, label, button {vertical-align:middle; font-family: 'OneLatin', 'nanumsquare', "Apple SD Gothic Neo", sans-serif, Arial;}
option{  font-family:'OneLatin', 'nanumsquare', "Apple SD Gothic Neo", sans-serif, Arial;}
button,label {cursor:pointer; background:none; border:none;}
button {border:none; background-color:transparent; }
i {font-style:normal; vertical-align: middle;}
table {width:100%; border-collapse:collapse; border-spacing:0; empty-cells:show;}
textarea {-webkit-appearance:none; border-radius:0; resize:none;}
optgroup {background-color: #ffffff; color:#656262; font-weight:inherit;}
option {display:block !important; color:#656262;}

a {margin:0; padding:0; color:inherit; text-decoration:none;}
a:hover {color:#8a8a8a; text-decoration:none !important;}
a:active {background-color:transparent;}

caption, legend, hr {overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
address,caption,cite,code,dfn,em,var {font-style:normal; font-weight:normal;}

.ip_select select:focus+.lb{border-bottom:1px solid -webkit-focus-ring-color;}
input:focus+.ip_check .icon{outline:1px dotted; outline: -webkit-focus-ring-color auto 5px;}

.layer_wrap .file_upload .file_wrap .label.on{outline:1px dotted; outline: -webkit-focus-ring-color auto 5px;}

.list_chekbox input[type=radio]:focus+label{outline:1px dotted; outline: -webkit-focus-ring-color auto 5px;}
.list_chekbox input[type=checkbox]:focus+label{outline:1px dotted; outline: -webkit-focus-ring-color auto 5px;}
.list_chekbox input[type=checkbox]:active+label{outline:none;}
.list_chekbox input[type=checkbox]:hover+label{outline:none;}

@media all and (min-width:1px) and (max-width:1024px) {
	a:hover {color:inherit;}
	
}

@media all and (min-width:1px) and (max-width:767px) {
	button {font-weight:bold;} 
}
