th {
	font-weight: normal !important;
}

.history_wrap {
	width: 100%;
	margin-bottom: 30px;
}

.inp {
	width: 59%;
	margin-right: 20px;
	font-size: 17px;
	padding: 7px;
}

.dateinp {
	width: 10%;
}

.meminp {
	width: 17%;
}

.editorWrap{
	width:870px;
	min-height: 400px;
	padding: 20px;
	border: 1px solid #d2d2d2;
	margin: 0 auto;
}

.page-link:focus, .form-control:focus {
	box-shadow: none !important;
}

.hide{
	display: none !important;
}

/* visit */
.contents_box_bottom {
	width: 870px;
    min-height: 400px;
    padding: 20px;
    border: 1px solid #d2d2d2;
    margin: 0 auto;
}

#map {
   width: 100%;
   height: 400px;
   margin: 0 auto 50px auto;
}

.visit_table {
   width: 100%;
}

.visit_table table {
   width: 100%;
}

.visit_table table th {
   border-left: 1px solid #fff;
   font-weight: normal;
   background: #f7f7f7;
   padding: 10px;
}

.visit_table table tr {
   border-top: 1px solid #d2d2d2;
   border-bottom: 1px solid #d2d2d2;
}

.visit_table table td {
   border-right: 1px solid #fff;
   padding: 10px 10px 10px 30px;
}

.visit_table table th, .visit_table table td {
   color: #313338;
   font-size: 15px;
}